<% include_wysiwyg %>
<div class="left prepend-1">
<%= form_for @blogpost do |f| -%>
  <%= render "layouts/error_messages", :target => @blogpost %>
  <div class="field">
  	<%= f.label :title %><br />
    <%= f.text_field :title, :class => 'span-10' %>
  </div>
  <div class="field">
  	<%= f.label :content %><br />
    <%= f.text_area :content, :class => 'span-10' %>
  </div>
  <div class="field">
  <%= f.label :recaptcha, "Przepisz koda z obrazka" %><br />
  <%= raw(get_captcha(:options => {:theme => 'white', :tabindex => 10})) %>
</div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  </div>
<% end %>