<table style="border: 1px solid cyan;">
<tr>
  <td>
  	<h1><%= link_to blogpost.title, user_blogpost_path(@user, blogpost.id) %></h1></td>
  	<tr>
  	<td>
    <%= simple_format(blogpost.content) %>
    <div class="right">
      <% if current_user?(@user) %>
      <%= link_to "Usuń", blogpost, :method => :delete, :confirm => "Jesteś pewien, że chcesz usunąć ten wpis?",:title => "Skasuj post o tytule #{blogpost.title}" %>
       || <%= link_to "Edytuj wpis", edit_user_blogpost_path(@user, blogpost.id) %> || 
      <% end %>
      Utworzony <%= time_ago_in_words(blogpost.created_at) %> temu.
    </div>
  </td>
</tr>
</table>
