<%= render 'users/user_menu' %>
<table style="border: 1px solid cyan;">
<tr>
  <td>
  	<h1><%= @blogpost.title %></h1></td>
  	<tr>
  	<td>
    <%= simple_format(@blogpost.content) %>
    <div class="right">
      <% if current_user?(@user) %>
      <%= link_to "Usuń", @blogpost, :method => :delete, :confirm => "Jesteś pewien, że chcesz usunąć ten wpis?",:title => "Skasuj post o tytule #{@blogpost.title}" %>
       || <%= link_to "Edytuj wpis", edit_user_blogpost_path(current_user) %>
       <% else %>
       <%= link_to "Przydatne", :controller => "bonuspoints", :action => "addfromblog", :user_id => params[:user_id] %> || 
       <% if @blogpost.admin != 1%>
       <%= link_to "Zgłoś administratorowi", :action => "admin", :id => @blogpost%> || 
       <% end %>
      <% end %>
		Posted <%= time_ago_in_words(@blogpost.created_at) %> ago.
    </div>
  </td>
</tr>
</table>
<br />
<%= link_to "Dodaj komentarz", :controller => 'blogcomments', :action => 'new', :blogpost_id => @blogpost.id %>
<table>
<% @comments.each do |comment| %>
<tr>
<td>
	<div class="left"><b><%= User.find(comment.user_id) %> napisal:</b> <%= simple_format(comment.content) %></div>
	<% if current_user.id == comment.user_id %>
	<div class="right"><%= link_to "Edytuj komentarz", edit_blogcomment_path(comment.id) %> || 
	<% else %>
	<div class="right"><%= link_to "Zgłoś administratorowi", :controller => "blogcomments", :action => "admin", :id => comment.id%> || 
	<% end %>
	Posted <%= time_ago_in_words(comment.created_at) %> ago.
	</div>
	</td>
</tr>
<% end %>
</table>
<%= will_paginate @comments %>
