<% content_for :title, @message.topic %>
<div class="headField">
  <h1 style="display:inline;font-size:15px"><%= @message.topic %>,</h1>
</div>
<div class="standardField" style="width: 300px;padding: 10px">
  <p>Od: <%= link_to @message.author.name, @message.author %>, 
    <%= escape_time(@message.created_at) %></p>
  <p>Opcje: <br />
    <%= link_to 'Odpisz', new_user_message_path(@logged_user, :reply_message_id => @message.id, :receiver_id => @message.author.id) %>, 
    <%= link_to 'Usuń wiadomość', [@logged_user, @message], :method => :delete %>
  </p>
</div>

<div class="standardField" style='color:black;background-color: white'>
  <%= @message.body %>
</div>


