<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Hasło" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :recaptcha, "Przepisz kod z obrazka" %><br />
    <%= raw(get_captcha(:options => {:theme => 'white', :tabindex => 10})) %>
  </div>
  <div class="actions">
    <%= f.submit "Loguj" %>
  </div>
<% end %>

<p>Nie masz konta? <%= link_to "Zarejestruj się !", signup_path %></p>
