<%= render 'project/shared/menu' %>

<div class="span-7 prepend-1">
	<%= form_for @file, :url => project_files_path(@project, @file),
											:html => {:multipart => true} do |f| %>
		<%= render "layouts/error_messages", :target => @file %>
    <div class="field">
      <%= f.label attribute_t 'project_file.file' %><br />
      <%= f.file_field :project_file %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>   
    <div class="actions">
      <%= f.submit t('general.project.file.add') %>
    </div>
	<% end %>
</div>

