<%= render 'project/shared/menu' %>

<div class="span-3 prepend-1">
	<%= form_for @file, :url => project_files_path(@project, @file),
											:html => {:multipart => true} do |f| %>
		<%= render "layouts/error_messages", :target => @file %>
    <p>
      <%= f.label attribute_t 'project_file.file' %><br />
      <%= f.file_field :project_file %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>   
    <p>
      <%= f.submit t('general.project.add_file') %>
    </p>
	<% end %>
</div>

