<%= render 'project/shared/menu' %>

<div class="span-22 last">
  <div class="prepend-1 span-5">
    <table class="list">
      <tr>
        <td><%= attribute_t 'project_file.name' %></td>
        <td><%= @file.name %></td>
      </tr>
      <tr>
        <td><%= attribute_t 'project_file.size' %></td>
        <td><%= escape_file_size @file.size %></td>
      </tr>
      <tr>
      	<td><%= t('general.actions') %></td>
      	<td>
      	  <p><%= link_to t('general.download'), @file.project_file.url %></p>
      	  <% if can_edit? 'file' -%>
      	    <p>
      	      <%= link_to t('general.delete'),
      	                  project_file_path(@project,@file),
      	                  :method => :delete,
      	                  :confirm => t('general.confirm') %>
      	    </p>
      	  <% end -%>     	  
      	</td>
      </tr>
    </table>
  </div>
  <div class="span-12 last append-1 prepend-1">
    <% if can_edit?('file') %>
    <%= render :partial => 'edit' %>
    <% else %>
      <table>
        <tr>
          <td><%= attribute_t 'project_file.description' %></td>
        </tr>
        <tr>
          <td><%= raw @file.description %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
