<% title = case @status
when Offer::STATUS_ACTIVE
  "biorące udział w aukcji"
when Offer::STATUS_REJECTED
  "odrzucone"
when Offer::STATUS_WON
  "wygrane"
end
%>

<% content_for :title, "Twoje #{title} oferty" %>

<% unless @offers.empty? %>
  <table class="list">
    <thead>
      <tr>
        <td style="width:40%">aukcja</td>
        <td>wycena</td>
        <td>wystawiona</td>
        <td>status</td>
        <td>opcje</td>
      </tr>
    </thead>
    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= link_to offer.auction.title, offer.auction %></td>
          <td><%= offer.price %>zł / <%= offer.days %>dni</td>
          <td><%=raw escape_time(offer.created_at) %></td>
          <td>
            <%= case offer.status
            when Offer::STATUS_ACTIVE
              'wystawiona'
            when Offer::STATUS_REJECTED
              'odrzucona'
            when Offer::STATUS_WON
              'wygrana!'
            end
          %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <section class="notice">Nie znaleziono żadnych ofert.</section>
<% end %>