<ul id="mega-menu-1" class="mega-menu">
  <li><%= link_to 'Użytkownicy', admin_users_path %></li>
  <li><%= link_to 'Posty', admin_blogposts_path %></li>
  <li><%= link_to 'Komentarze', admin_blogcomments_path %></li>
  <li><%= link_to 'Aukcje', admin_auctions_path %></li>
  <li><%= link_to 'Zgłoszenia aukcji', admin_alerts_path %></li>
  <li><%= link_to 'Grupy z tagimi', admin_groups_path %>
    <ul>
      <li><p>Tagi</p>
        <ul>
          <li><%= link_to 'Nowy tag', new_admin_tag_path %></li>
          <li><%= link_to 'Lista tagów', admin_tags_path %></li>
        </ul>
      </li>
      <li><p>Grupy</p>
        <ul>
          <li><%= link_to 'Nowa grupa', new_admin_group_path %></li>
          <li><%= link_to 'Lista grup', admin_groups_path %></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><%= link_to 'Prywatne wiadomości', admin_messages_path %>
    <ul>
      <li><p>foldery</p>
        <ul>
          <li><%= link_to 'odebrane', admin_messages_path %></li>
          <li><%= link_to 'wysłane', sent_admin_messages_path %></li>
        </ul>
      </li>
      <li><p>opcje</p>
        <ul>
          <li><%= link_to 'nowa wiadomość', new_admin_message_path %></li>
        </ul>
      </li>
    </ul>
  </li>
  </li>
  <li><%= link_to 'Wyloguj się(' + current_user.to_s + ')', signout_path, :method => :delete %></li>

</ul>
<%= javascript_tag do %>
  $("#mega-menu-1").dcMegaMenu({
  rowItems: '3',
  speed: 'fast'
  });
<% end %>
