<% content_for :head do -%>
<%= javascript_include_tag 'jquery.rating.js' %>
<%= stylesheet_link_tag 'rating_list' %>
<script type="text/javascript">
$(document).ready(function(){
	$(".star").rating();
	$(".star").rating('readOnly', true);
});
</script>
<% end -%>
<% unless auctions.empty? %>
<table class="list">
  <thead>
    <tr>
      <td>tytuł</td>
      <td>budżet</td>
      <td>ofert</td>
      <td>do końca</td>
    </tr>
  </thead>
<tbody>
<% auctions.each do |auction| %>
  <tr<%= " class='highlight'" if auction.highlight %>>
    <td><%= link_to escape_auction(auction), auction_path(auction) %><% unless auction.rating.nil? %> <div style="display: inline-block"><% for i in 1..15 do %><%= radio_button_tag("star#{auction.id}", i, i == auction.rating, :class => "star", :title => "ocena") %><% end %></div><% end %></td>
    <td><%= Budget.find(auction.budget_id) %></td>
    <td><%= auction.offers_count %></td>
    <td><%= distance_of_time_in_words auction.expired_at.to_i, Time.now.to_i %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= will_paginate auctions %>
<% else %>
Brak zleceń
<% end %>
