<% content_for :title, "Witamy!" %>
<div class="span-24">
  <table class="center box" style="padding: 5px; margin: -20px auto 10px auto;">
    <tr>
      <td class="center">
        Trwających aukcji: <span><%= Auction.count %></span>
      </td>
      <td class="center">
        Ofert: <span><%= Offer.count %></span>
      </td>
      <td class="center">
        Użytkowników w bazie: <span><%= @users %></span>
      </td>
      <td class="center">
        Aktywnych projektów: <span><%= @projects %></span>
      </td>
    </tr>
  </table>
  <div class="span-24">
    <p class="box">
      Jeśli szukasz specjalisty lub pracujesz w branży IT, to dobrze trafiłeś.
      Pozwól iż wyjaśnimy Ci na czym polega fenomen tego portalu!
      Otóż, za pośrednictwem tego portalu bedziesz w stanie znaleźć wykonawcę bądź zleceniodawcę,
      wyróżnić swoje aukcje, zbudować portfolio, dołączyć do profesjonalnych zespołów.
      To nie wszystko. Jak tylko zostanie wybrana zwycięska oferta,
      zostanie udostępniony moduł projektu umożliwiający pracę przy pomocy różnych metod rozwojowych projektów.
      Tak więc ten serwis to nie tylko raj dla zleceniodawców, ale i dla wykonawców.
      Bo wiemy iż efektywność to podstawa.
    </p>
  </div>
</div>
<div class="prepend-1 span-22 last">
  <h2>Najnowsze aukcje</h2>
  <% unless @auctions.empty? %>
    <div class="span-11"><div class="box">
        <% @auctions.shift(@auctions.length/2).each do |auction| %>
          <%= link_to escape_auction(auction), auction_path(auction) %>
          <span style="float: right;">
            tu je budzet
          </span>
          <br />
        <% end %>
      </div></div>
    <div class="span-11 last"><div class="box">
        <% @auctions.each do |auction| %>
          <%= link_to escape_auction(auction), auction_path(auction) %>
          <span style="float: right;">
            tu je budzet
          </span>
          <br />
        <% end %>
      </div></div>
  <% else %>
    <div class="notice">Narazie nie ma żadnych opublikowanych aukcji.</div>
  <% end %>
</div>

<div class="prepend-1 span-22 last">
  <h2>Najnowsze wpisy z blogów</h2>
  <% unless @blogs.empty? %>
    <div class="span-11"><div class="box">
        <% @blogs.shift(@blogs.length/2).each do |blog| %>
          <%= link_to blog.title, user_blogpost_path(blog.user, blog) %>
          <span style="float: right;">
            <%= link_to blog.user.login, user_path(blog.user) %>
          </span>
          <br />
        <% end %>
      </div></div>
    <div class="span-11 last"><div class="box">
        <% @blogs.each do |blog| %>
          <%= link_to blog.title, user_blogpost_path(blog.user, blog) %>
          <span style="float: right;">
             <%= link_to blog.user.login, user_path(blog.user) %>
          </span>
          <br />
        <% end %>
      </div></div>
  <% else %>
    <div class="notice">Narazie nie ma żadnych opublikowanych aukcji.</div>
  <% end %>
</div>
