<div class="span-22 last">
  <div class="span-11 prepend-1">
    <%= render :partial => "/shared/auction/info_table" %>
  </div>

  <div class="span-6 last prepend-3 append-1">
    <% if @auction.allowed_to_offer?(@current_user) %>
      <div class="notice last offerField">
        <h2>Złóż ofertę</h2>
        <% form_for [:panel, @auction, @auction.offers.new] do |offer| %>
          <table>
            <tr>
              <td><%= offer.label :price, 'Kwota' %>:</td>
              <td><%= offer.text_field :price, :class => "title" %> PLN</td>
            </tr>
            <tr>
              <td style="padding-top: 10px"><%= offer.label :days, 'Czas' %>:</td>
              <td style="padding-top: 10px"><%= offer.text_field :days, :class => "title" %> dni</td>
            </tr>
          </table>
          <div class="prepend-2">
            <%= offer.submit 'Licytuj!', :confirm => "Potwierdź swoją licytację" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @made_offer %>
      <div class="notice last offerField center">Twoja oferta została już przyjęta.</div>
    <% end %>
  </div>
</div>
<div style="clear: both"> </div>
<h2 class="box">Opis zlecenia</h2>
<section class="prepend-1 append-1 auctionDescription"><%= @auction.description %></section>

<% if @auction.communications.size > 0 %>
  <h2 class="box">Komunikaty</h2>
  <table class="communicationsTable">
    <tbody>
      <% @auction.communications.each do |msg| %>
        <tr>
          <td>nadano <%= escape_time(msg.created_at) %></td>
          <td><%= msg.body %></td>
        </tr>
      <%  end %>
    </tbody>
  </table>
<% end %>

<% unless @offers.empty? %>
  <h2 class="box top-1">Oferty</h2>
  <div class="prepend-5 append-5">
    <table class="list">
      <thead>
        <tr>
          <td colspan="2">wykonawca</td>
          <td>data</td>
        </tr>
      </thead>
      <tbody>
        <% i = 0 %>
        <% @auction.offers.each do |offer| %>
          <% i += 1 %>
          <% html = case
          when offer.status == Offer::STATUSES[:rejected]
            'rejected'
          when offer.status == Offer::STATUSES[:won]
            'winner'
          end
        %>

          <tr<% unless html.nil? %> class="<%= html %>"<% end %>>
            <td style="text-align: right">
              <% unless nil %><img style="width:50px; height: 50px" src="/images/avatar.jpg" /><% end %>
            </td>
            <td class="<%= 'bold' if offer.offerer.eql?(@current_user)%>">
              <%= escape_user(offer.offerer) %>
            </td>
            <td><%= escape_time(offer.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<div class="prepend-17 right">
  <%= link_to "Zgłoś nieprawidłowość", '#', :onclick => '$("#alertDiv").toggle("fast"); return false' %>
</div>
<%#TODO %>
<div id="alertDiv" class="hide prepend-5 append-5 append-bottom">
  <% alert_pre_text = 'Nieprawidłowość dotyczy aukcji o numerze '+@auction.id.to_s+' z następującym problemem' %>
  <% form_for @alert do |f|%>
    <p style="color: red"><%= alert_pre_text %>, w skrócie opisz go:</p>
    <%= hidden_field_tag :pre_text, alert_pre_text+': ' %>
    <%= f.hidden_field :author_id %>
    <p><%= f.text_area :text, :class => "span-8 last" %></p>
    <p><%= f.submit 'Wyślij zgłoszenie' %></p>
  <% end %>
</div>