<% content_for :head do -%>
<%= javascript_include_tag 'jquery.rating.js' %>
<%= stylesheet_link_tag 'jquery.rating' %>
	<script type="text/javascript">
		rated = <%= @rated %>;

		$(document).ready(function(){
			$(".star").rating({
				callback: function(value)
				{
					$.ajax({
						type: "POST",
						url: "<%= auction_ratings_url(@auction) %>",
						data: "value="+value,
						success: function(response){
							if(response == "rated") alert("Głosowałeś już wcześniej");
							if(response == "log_in") alert("Aby zagłosować musisz być zalogowany");
							$(".star").rating('readOnly',true);
						}
					}); 
				}
			});
			
			$(".star").rating("select", '<%= @auction.rating || 0 %>', false);
			
			if(rated){
				$(".star").rating('readOnly',true);
			}
		});
	</script>
<% end -%>

<% content_for :title, @auction.title %>
<div class="headField">
  <h1 style="display:inline;font-size:15px"><%=  @auction.title %></h1>
  (<h2 style="font-size:10px;display: inline"><%=raw @auction.category.parent_links.collect{|l| link_to l.parent.name, l.parent}.join(" > ") %></h2>)
</div>
<h2>Informacje o aukcji</h2>
<div class="table">
<table style="float:left; margin-left: 10px" class="cell auctionInfo">
  <tr><td class="tdTitle">Terminy</td>
    <td>
      <p>Utworzona: <%= escape_time(@auction.created_at) %></p>
      <p>Do końca: <span style="font-weight:bold"><%= distance_of_time_in_words @auction.expired.to_i, Time.now.to_i %></span> (<%= escape_time(@auction.expired) %>)</p>
    </td>
  </tr>
  <tr><td class="tdTitle">Zleceniodawca</td>
    <td>
      <p style="font-weight:bold"><%= @auction.owner.login %></p>
      <% if (not @logged_user.nil?) && @logged_user.id != @auction.owner.id %><p><%= link_to 'Wyślij wiadomość', new_user_message_path(@auction.owner) %></p><% end %>
    </td></tr>
  <tr><td class="tdTitle">Informacje</td>
    <td>
      <p>Liczba ofert: <%= @auction.offers.count %></p>
      <p>Typ aukcji: <span style="font-weight:bold">aukcja <% if @auction.is_public? %>publiczna<% else %>prywatna<% end %></span></p>
      <p>Budżet: <span style="font-weight:bold"><%= Budget.find(@auction.budget_id).to_s %></span></p>
      <% #@rating = AuctionRating.new :auction_id => @auction.id %>
      <p>Ocena: <% form_for auction_ratings_path(@auction, @auction.rating_values.new) do |f| %><%= f.hidden_field :auction_id %><% for i in 1..15 %><%= radio_button :auction_rating, :value, i, :class => "star", :title => i.to_f/3 %><% end %><% end %></p>
    </td></tr>
<!--
  <tr><td class="tdTitle">Administracja</td>
    <td>
      <p><%= link_to "Zgłoś nieprawidłowość", '#', :onclick => '$("#alertDiv").toggle()' %></p>
      <div id="alertDiv" style="display: none">
        <% alert_pre_text = 'Nieprawidłowość dotyczy aukcji o numerze '+@auction.id.to_s+' z następującym problemem' %>
        <% form_for @alert do |f|%>
        <p style="color: red"><%= alert_pre_text %>, w skrócie opisz go:</p>
        <%= hidden_field_tag :pre_text, alert_pre_text+': ' %>
        <%= f.hidden_field :author_id %>
        <p><%= f.text_area :text %></p>
        <p><%= f.submit 'Wyślij zgłoszenie' %></p>
        <% end %>
      </div>
    </td></tr>
    -->
</table>

<% if @auction.allowed_to_offer?(@logged_user) %>
<div class="cell" style="vertical-align: middle">
  <div class="standardField offerField">
  <h2><a class="headField" href="#" onclick="$('#new_offer_div').slideToggle(400);return false">Złóż nową ofertę</a></h2>
  <div id="new_offer_div" style="display: none">
  <% form_for [@auction, @auction.offers.new] do |offer| %>
  <table style="margin: 10px auto">
    <tr>
      <td><%= offer.label :price, 'Kwota' %>:</td>
      <td><%= offer.text_field :price, :style => 'width:30px' %> PLN</td>
    </tr>
    <tr>
      <td style="padding-top: 20px"><%= offer.label :hours, 'Czas' %>:</td>
      <td style="padding-top: 20px"><%= offer.text_field :hours, :style => 'width:30px' %> godz</td>
    </tr>
    <%= offer.hidden_field :auction_id %>
  </table>
    <%= offer.submit 'Licytuj!', :style => 'display:block;margin: 0 auto', :confirm => "Potwierdź swoją licytację" %>
  <% end %>
  </div>
  </div>
</div>
<% end %>
<% if @auction.made_offer?(@logged_user) %>
<div class="cell offeredInfoText">Twoja aktualna oferta została już przyjęta.</div>
<% end %>
</div>
<div style="clear: both"> </div>
<h2>Opis zlecenia</h2>
<div style="padding: 20px;border:0;text-align: left" class="standardField"><%= @auction.description %></div>

<% if @auction.communications.size > 0 %>
<h2>Komunikaty</h2>
  <table class="communicationsTable">
    <tbody>
  <% @auction.communications.each do |msg| %>
      <tr>
        <td>nadano <%= escape_time(msg.created_at) %></td>
        <td><%= msg.body %></td>
      </tr>
  <%  end %>
  </tbody>
  </table>
<% end %>

<% if @auction.offers.count > 0 %>
<h2 style="margin-top: 10px">Oferty</h2>
 <table style="width:600px;margin: 0 auto" class="standardField offersList">
  <thead>
    <tr class="headField">
      <td>kwota</td>
      <td>czas</td>
      <td>wykonawca</td>
      <td>data</td>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
<% @auction.offers.each do |offer| %>
    <% i += 1 %>
    <% html = case
    when offer.status == Offer::STATUS_REJECTED
      'rejected'
    when offer.status == Offer::STATUS_WON
      'winner'
    when offer.offerer.eql?(@logged_user)
      'selected'
    when i%2 < 1
      'cycle'
    end
      %>
    
        <tr<% unless html.nil? %> class="<%= html %>"<% end %>>
          <td style="font-weight:bold"><%= offer.price %> zł</td>
          <td><%= offer.hours %> godz.</td>
          <td style="text-align: center">
            <% unless nil %><img style="width:50px; height: 50px" src="/images/avatar.jpg" /><% end %>
          <%= offer.offerer %>
          </td>
          <td><%= escape_time(offer.created_at) %></td>
        </tr>
<% end %>
  </tbody>
</table> 

<% end %>

