<div class="prepend-1">
<% form_for @user do |f| -%>
<%= render "layouts/error_messages", :target => @user %>
<table>
	<tr style="background-color: cyan;">
		<td class="bold">Login</td><td class="bold">Imie i Nazwisko</td><td class="bold">Email</td><td class="bold">Zapisz</td>
	</tr>
	<% @liczba = 0 %>
  	<% @findusers.each do |fusers| %>
  			<% @liczba += 1 %>
	        <tr>
	          <td><%= link_to fusers.login, user_path(fusers.id) %></td>
	          <td><%= fusers.name %> <%= fusers.lastname %></td>
	          <td>
	            <%= fusers.email %>
	          </td>
	          <td>
	 			<div class="field">
  					<%= check_box_tag @liczba %>
				</div>
	 		  </td>
	 <% end %>
	 </tr>
	 <tr>
	 	<td>
	 		<div class="actions">
    			<%= f.submit "Zapisz" %>
  	 		</div>
  	 	</td>
  	 </tr>
  	 <% end %>
</table>
</div>