<div class="prepend-1">
<nav id="project-nav" class="round" style="margin-bottom: 10px">
  <ul>
      <li><%= link_to "O mnie", user_path(@user) %></li>
      <li><%= link_to "Zaufani", watching_user_path(@user) %><font color=white>/</font><%= link_to "Zaufali mi", watchers_user_path(@user) %></li>
      <li><%= link_to "Aktywne projekty", user_userprojects_path(@user) %></li>
      <li><%= link_to "Portfolio", user_portfolios_path(@user) %></li>
      <li><%= link_to "Blog", user_blogposts_path(@user) %></li>
      <% if signed_in? %>
      <% if current_user?(@user) && current_user.role != "administrator"%>
      <li><%= link_to "Dezaktywuj konto", user_path(current_user, :status => 0), :method => "delete", :confirm => t('general.deactivate') %></li>
      <% elsif !current_user?(@user) && current_user.role == "administrator" && @user.status != 0 && @user.status != 3 %>
      <li><%= link_to "Zbanuj konto", user_path(@user, :status => 3), :method => "delete", :confirm => t('general.ban') %></li>
      <% elsif !current_user?(@user) && current_user.role == "administrator" && @user.status != 2 && @user.status != 1 %>
      <li><%= link_to "Aktywuj konto", user_path(@user, :status => 2), :method => "delete", :confirm => t('general.activate') %></li>
      <% end %>
      <% end %>
  </ul>
</nav>
</div>

<div class="right">
<%= render 'users/find_user' %>

<div style="clear: both"></div><br />
