<%= render 'users/user_menu' %>
<table summary="Information about watching/watchers">
  <tr>
    <td style="width: 500px;">
      <% unless @users.empty? %>
        <ul class="users">
        <% @users.each do |user| %>
        <tr>
        <td>
          <%= link_to user.login, user %> <%= user.email %>
        </td>
        <% if params[:action] == 'watching' && current_user?(@user) %>
        <td>
        <%= form_for @user.relationships.find_by_watched_id(user.id), :html => { :method => :delete } do |f| %>
  			<div style="float: right;"><%= f.submit "Wyrzuć z zaufanych" %></div>
		<% end %>
        </td>
        <% end %>
        </tr>
        <% end %>
        </ul>
        <%= will_paginate @users %>
      <% end %>
    </td>
  </tr>
</table>

