<div class="prepend-1 span-22 last" style="border: 1px solid red;">
  <div class="span-6">
    <table class>
      <tr>
      	<td colspan="2" id="table_title">
      		Dane osobowe 
      	</td>
      </tr>
      <tr>
        <td>Login</td>
        <td><b><%= @user.login %></b></td>
      </tr>
      <tr>
        <td>Imie</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>Nazwisko</td>
        <td><%= @user.lastname %></td>
      </tr>
      <tr>
        <td>Utworzony</td>
        <td><%= escape_date(@user.created_at) %></td>
      </tr>
      <tr>
        <td>Kraj</td>
        <td><%= image_tag(@country_flag) %> <%= @country_name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @user.email %></td>
      </tr>
    </table>
    </div>
    <div class="prepend-0 span-9">
    <table class>
    <tr>
    	<tr>
      	<td colspan="2" id="table_title">
      		O sobie
      	</td>
      </tr>
        <td style="vertical-align: top; border-right: 1px solid black;"><%= image_tag @user.avatar.url(:thumb) %></td><td><%= simple_format(@user.description) -%></td>
      </tr>
    </table>
    </div>
    <div class="clear span-11 center">
  <% if current_user?(@user) %>
  <%= link_to 'Edytuj dane', edit_user_path(current_user) %>
  <% end %>
  <%= render 'watch_form' if signed_in? %>
  </div>
  <!--wstepna integracja z paypal, trzeba sprawdzic czy dziala! -->
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="66DSC8MCQNHB2">
	<input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/pl_PL/PL/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal — Płać wygodnie i bezpiecznie">
	<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/pl_PL/i/scr/pixel.gif" width="1" height="1">
  </form>

  </div>
  <table>
  	<% @projects.each do |proj| %>
	        <tr>
	          <td><%= link_to proj.name, project_info_path(proj) %></td>
	          <td><%= escape_column(proj.user_role(@user.id), "name").capitalize %></td>
	          <td>
	            <%= escape_date(proj.deadline) %>
	            (Pozostało <%= time_ago_in_words(proj.deadline) %>)
	          </td>
	          <td><%= escape_status(proj) %></td>
	        </tr>
	 <% end %>
  </table>
	 <%= will_paginate @projects %>
	 
  <%= render 'shared/zaufani' %>
  <%= render 'find_user' %>
  
  <%= render 'blogpost_form' %>
  
  <% unless @user.blogposts.empty? %>
        <table summary="User blogposts">
          <%= render @blogposts %>
        </table>
        <%= will_paginate @blogposts %>
  <% end %>