<%= render 'users/user_menu' %>
<table class="span-12 prepend-1">
  <tr style="background-color: cyan;">
	<td class="bold">Login</td><td class="bold">Wyślij e-mail</td><td class="bold">Wyślij PW</td>
	<% if params[:action] == 'watching' && current_user?(@user) %>
	<td class="bold">Wyrzuć z zaufanych</td>
	<% end %>
  </tr>
      <% unless @users.empty? %>
        <% @users.each do |user| %>
        <tr>
        <td>
          <%= link_to user.login, user %>
        </td>
        <td>
          <%= mail_to user.email %>
        </td>
        <td>
          <%= link_to "Prywatna wiadomość", :controller => 'panel/messages', :action => :new, :receiver_login => user.login %>
        </td>
        <% if params[:action] == 'watching' && current_user?(@user) %>
        <td>
        <%= form_for @user.relationships.find_by_watched_id(user.id), :html => { :method => :delete } do |f| %>
  			<%= f.submit "Wyrzuć z zaufanych" %>
		<% end %>
        </td>
        <% end %>
         </tr>
        <% end %>
      <% end %>
</table>
<%= will_paginate @users %>

