<%= content_for :title, "#{@project.name} " + 
  "[Pozostało: #{time_ago_in_words(@project.deadline)}]" 
%>
<nav id="project-nav" class="round">
  <ul>
      <li><%= link_to 'Info', '#' %></li>
      <li><%= link_to 'Członkowie', '#' %></li>
      <li><%= link_to 'Pliki', '#' %></li>
      <li><%= link_to 'Forum', '#' %></li>
  </ul>
</nav>
