<% unless @comments.empty? %>
  <table class="list">
    <thead>
      <tr>
        <td><% if @status.eql?("written") %>do<% else %>od<% end %></td>
        <td>oceny</td>
        <td>za aukcję</td>
        <td>za projekt</td>
        <td>opcje</td>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |c| %>
        <tr>
          <td><%= link_to escape_user(c.receiver), c.receiver %></td>
          <td><% c.values.each do |v| %> <%= v.rating %><% end %></td>
          <td><%= link_auction(c.auction) unless c.auction.nil? %></td>
          <td><%= c.project.name unless c.project.nil? %></td>
          <td>
            <% if c.status?(:active) %>
              <%= link_to "Szczegóły", panel_comment_path(c) %>
            <% end %>
            <% if c.status?(:pending) %>
              <%= link_to "Wystaw komentarz", edit_panel_comment_path(c) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
<% else %>
  <div class="notice">Nie znaleziono żadnych komentarzy.</div>
<% end %>
