<table class="list prepend-8 append-8">
  <tr>
    <td colspan="2"><%= link_to escape_user(@comment.receiver), @comment.receiver %></td>
  </tr>
  <tr>
    <td colspan="2"><% @comment.values.each do |v| %>
        <div><%= v.keyword.name.force_encoding("utf-8") %>: <%= v.rating %>
          <p class="bold"><%= v.extra %></p>
        </div>
      <% end %></td>
  </tr>
  <% unless @comment.auction.nil? %>
    <tr>
      <td>za aukcję</td>
      <td><%= link_auction(@comment.auction) %></td>
    </tr>
  <% end %>
  <% unless @comment.project.nil? %>
    <tr>
      <td>za projekt</td>
      <td><%= @comment.project.name %></td>
    </tr>
  <% end %>
</table>