<% unless @tags.nil? %>
  <% unless @tags.empty? %>
    <table class="list">
      <thead>
        <tr>
          <td>nazwa</td>
          <td>należy do grupy</td>
          <td>status</td>
          <td>opcje</td>
        </tr>
      </thead>
      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= link_to tag, edit_admin_tag_path(tag) %></td>
            <td><%= tag.groups.join(", ") %></td>
            <td class="bold"><%= escape_status(tag) %></td>
            <td>
              <%= link_to "usuń", admin_tag_path(tag), :method => :delete, :confirm => "Potwierdź usunięcie tagu" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  <% else %>
    <div class="clear notice">Nie znaleziono żadnych tagów.</div>
  <% end %>
<% end %>