<% content_for :title, @message.topic %>
<div class="prepend-1 span-20 append-1">
  <div class="span-3">
    Do: <%= link_to @message.receiver, @message.receiver %>
  </div>
  <div class="span-3">
    Od: <%= link_to @message.author, @message.author %>
  </div>
  <div class="span-5">
    Wysłano: <%= escape_time(@message.created_at) %>
  </div>
  <div class="span-9 last">Opcje:
    <% if @message.receiver_id.eql?(@logged_user.id) %>
      <%= link_to 'Odpisz', reply_admin_message_path(@message) %>,
    <% end %>
    <%= link_to 'Usuń wiadomość', admin_message_path(@message), :method => :delete, :confirm => 'Czy na pewno?' %>
  </div>

  <div class="span-20 top-1">
    <%=   @message.body %>
  </div>
  <div class="clear top-1"></div>
</div>


