<td><%= link_to topic.title, project_topic_path(@project, topic.id) %></td>
<td><%= link_to user.login,	user_path(user.id), :target => '_blank'%></td>
<td>
	<%= render :partial => 'topic_last_post', :locals => { :topic => topic,
	    	    																							 :user => user } %>
</td>
<td>
	<%= link_to t('general.delete'), project_topic_path(@project, topic),
	                                 :method => :delete,
	                                 :confirm => t('general.confirm') %>
	 | <%= link_to t('general.edit'), edit_project_topic_path(@project, topic) %>
</td>
