<%= render 'project/shared/menu' %>

<div class="span-12 prepend-1">
	<div class="span-3 prepend-10" style="margin-bottom: 5px">
		<%= (link_to 'Dodaj temat', :action => :new) if @project.active? %>
	</div>
	<% if @topics.empty? -%>
	  <div class="notice span-12">
	    <%= t('flash.general.topic.empty') %>
	  </div>  
	<% else -%>
	  <table class="list">
	    <thead>
	      <tr>
	        <th><%= attribute_t 'topic.title' %></th>
	        <th><%= attribute_t 'topic.user_id' %></th>
	        <th><%= t('general.project.topic.last_post') %></th>
	        <th><%= t('general.actions') %></th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @topics.each do |topic| %>
	      	<% user = User.find(topic.user_id) %>
	        	<% if edit_topic? topic.id %>
	      	    <%= render :partial => 'edit_view', :locals => { :topic => topic,
	      	    																								 :user => user } %>
	      		<% else %>
	      		  <%= render :partial => 'standard_view', :locals => { :topic => topic,
	      	    																									   :user => user } %>
	      		<% end %>
	      	</tr>
	      <% end %>
	    </tbody>
	  </table>
	  <%= will_paginate %>
	<% end -%>
</div>
