<%= render 'project/shared/menu' %>

<table class="prepend-1 span-20">
	<% user = User.find(@topic.user_id) %>
	<tr>
		<td class="span-3">
			<p><%= image_tag user.avatar.url(:thumb) %></p>
			<p><%= link_to user.login, user_path(user.id), :target => '_blank' %></p>
			<p>
				<%= link_to t('general.pm'),
				            :controller => 'panel/messages',
										:action => :new, 
										:receiver_login => user.login %>
       	 | <%= mail_to user.email %>
			</p>
		</td>
		<td>
		  <p><%= @topic.content %></p>
		  <p align="right"><%= link_to t('general.edit'),
		                               edit_project_topic_path(@project, @topic) %></p>
		</td>
	</tr>
	<% @posts.each do |post| %>
		<% user = User.find(post.user_id) %>
		<tr>
			<td class="span-3">
				<p><%= image_tag user.avatar.url(:thumb) %></p>
				<p><%= link_to user.login, user_path(user.id), :target => '_blank' %></p>
				<p>
					<%= link_to t('general.pm'),
					            :controller => 'panel/messages',
											:action => :new, 
											:receiver_login => user.login %>
        	 | <%= mail_to user.email %>
				</p>
			</td>
			<td>
			  <p><%= post.content %></p>
			  <p align="right">
			    <%= link_to t('general.edit'), 
			                edit_project_topic_post_path(@project, @topic, :id => post.id) %>
			     | <%= link_to t('general.delete'),
			                project_topic_post_path(@project, @topic, :id => post.id),
			                :method => :delete,
			                :confirm => t('general.confirm') %>
			  </p>
			</td>
	<% end %>
</table>
<div class="span-2 prepend-17">
  <%= link_to t('general.project.post.add'), new_project_topic_post_path(@project, @topic) %>
</div>
