<%= render 'project/shared/menu' %>

<table class="prepend-1 span-20">
	<% user = User.find(@topic.user_id) %>
	<tr>
		<td class="span-3">
			<p><%= image_tag user.avatar.url(:thumb) %></p>
			<p><%= link_to user.login, user_path(user.id) %></p>
			<p>
				<%= link_to t('general.pm'), :controller => 'panel/messages',
													:action => :new, 
													:receiver_login => user.login %> | 
       	<%= mail_to user.email %>
			</p>
		</td>
		<td><%= @topic.content %></td>
	</tr>
	<% @posts.each do |post| %>
		<% user = User.find(post.user_id) %>
		<tr>
			<td class="span-3">
				<p><%= image_tag user.avatar.url(:thumb) %></p>
				<p><%= link_to user.login, user_path(user.id) %></p>
				<p>
					<%= link_to t('general.pm'), :controller => 'panel/messages',
														:action => :new, 
														:receiver_login => user.login %> | 
        	<%= mail_to user.email %>
				</p>
			</td>
			<td><%= post.content %></td>
		</tr>
	<% end %>
</table>
