<%= render 'project/shared/menu' %>
<table class="prepend-1 span-20">
  <% if params[:page].nil? || params[:page].to_i == 1 -%>
	  <% user = User.find(@topic.user_id) %>
	  <tr>
		  <td class="span-4">
			  <p><%= image_tag user.avatar.url(:thumb) %></p>
			  <p><%= link_to user.login, user_path(user.id) %></p>
			  <p>
				  <%= link_to t('general.pm'),
				              :controller => 'panel/messages',
										  :action => :new, 
										  :receiver_login => user.login %>
         	 | <%= mail_to user.email %>
			  </p>
		  </td>
		  <td>
		    <p><%= raw @topic.content %></p>
		    <% if edit_topic?(@topic.id) -%>
		      <p align="right">
		        <%= link_to t('general.edit'),
		                    edit_project_topic_path(@project, @topic) %>
		      </p>
		    <% end -%>  
		  </td>
	  </tr>
	<% end -%>
	<% @posts.each do |post| %>
		<% user = User.find(post.user_id) %>
		<tr>
			<td class="span-4">
				<p><%= image_tag user.avatar.url(:thumb) %></p>
				<p><%= link_to user.login, user_path(user.id) %></p>
				<p>
					<%= link_to t('general.pm'),
					            :controller => 'panel/messages',
											:action => :new, 
											:receiver_login => user.login %>
        	 | <%= mail_to user.email %>
				</p>
			</td>
			<td>
			  <p><%= raw post.content %></p>
			  <% if edit_post?(post.id) -%>
			    <p align="right">
			      <%= link_to t('general.edit'), 
			                  edit_project_topic_post_path(@project, @topic, :id => post.id) %>
			      | <%= link_to t('general.delete'),
			                    project_topic_post_path(@project, @topic, :id => post.id),
			                    :method => :delete,
			                    :confirm => t('general.confirm') %>
			   </p>
			  <% end -%>
			</td>
	<% end %>
</table>
<div class="prepend-1 span-19" style="text-align: right;"><%= will_paginate @posts %></div>
<div class="span-2 prepend-17">
  <%= (link_to t('general.project.post.add'), new_project_topic_post_path(@project, @topic)) if @project.active? %>
</div>
