<% if can_edit?('info') %>
  <% include_wysiwyg %>
	<table>
	  <%= form_for @project, :url => project_info_path(@project) do |f| %>
	  <%= render "layouts/error_messages", :target => @project %>
	  <tr>
	    <td>
	      <%= f.label :description %>
	      <%= f.submit t("general.save") %>
	    </td>
	  </tr>
	  <tr style="background:none">
	    <td>
	      <%= f.text_area :description, :class => "span-14", :style => "height: 250px" %><br />
	    </td>
	  </tr>
	  <% end %>
	</table>
<% else %>
	<%= render :action => :show %>
<% end %>
