<%= render 'project/shared/menu' %>

<div class="span-22 last">
  <div class="prepend-1 span-7">
    <table class="list">
      <tr>
        <td><%= attribute_t "project.name" %></td>
        <td><%= @project.name %></td>
      </tr>
      <tr>
        <td><%= t("general.created_at") %></td>
        <td><%= escape_date(@project.created_at) %></td>
      </tr>
      <tr>
        <td>
          <% if @project.deadline.past? -%>
            <font color="red"><%= t("general.project.exceeded") %></font>
          <% else -%>
            <%= t("general.left") %>
          <% end -%>
        </td>
        <td>
        	<% if @project.active? %>
        	  <% if @project.deadline.past? -%>
        	    <font color="red"><%= time_ago_in_words(@project.deadline) %></font>
        	  <% else -%>
          	  <p><b><%= time_ago_in_words(@project.deadline) %></b></p>
          		<p>(<%= escape_time(@project.deadline) %>)</p>
        	  <% end -%>
        	<% else %>
        		<p><b><%= t("general.project.ended") %></b></p> 
        		<p>(<%= escape_date(@project.updated_at) %>)</p>
        	<% end %>
        </td>		
      </tr>
      <tr>
        <td><%= attribute_t 'project.owner_id' %></td>
        <td>
        	<%= link_to(User.find(@project.owner_id).login,
        	 						user_path(User.find(@project.owner_id).id)) %>     	
        </td>
      </tr>
      <tr>
        <td><%= attribute_t 'project.leader_id' %></td>
        <td>
        	<%= link_to(User.find(@project.leader_id).login,
        	 						user_path(User.find(@project.leader_id).id)) %>
        </td>
      </tr>
      <tr>
      	<td><%= model_t 'auction' %></td>
      	<td>
      	  <%= link_to(Auction.find(@project.auction_id).title,
      	              auction_path(@project.auction_id)) %>
      	</td>
      </tr>
      <% if @project.owner_id == current_user.id && @project.status == Project::STATUSES[:active] %>
      	<tr>
      		<td><%= t("general.actions") %></td>
      		<td>
      			<%= form_for @project, :url => project_info_path(@project) do |f| %>
      			<%= f.submit t("general.project.end"), :confirm => t('general.confirm') %>
      			<% end %>
      		</td>
      	</tr>
      <% end %>
    </table>
  </div>
  <div class="span-12 last append-1 prepend-1">
    <% if can_edit?('info') %>
    <%= render :partial => 'edit' %>
    <% else %>
      <table>
        <tr>
          <td><%= attribute_t 'project.description' %></td>
        </tr>
        <tr>
          <td><%= raw @project.description %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
