<% form_for @alert do |f|%>

  <%= render "layouts/error_messages", :target => @alert %>

  <% alert_pre_text = params[:pre_text] unless params[:pre_text].nil? %>
  <%= hidden_field_tag :pre_text, alert_pre_text+': ' %>
  <p>
    <%= f.label :text, alert_pre_text %><br />
    <%= f.text_area :text, :class => "span-8 last" %>
  </p>

  <% unless signed_in? %>
    <%= render :partial => "shared/captcha", :locals => {:f => f} %>
  <% end %>

  <p><%= f.submit 'Wyślij zgłoszenie' %></p>
<% end %>

