<% form_tag admin_auctions_path, :method => :get do |f| %>
  <div class="span-24">
    <div class="box center">
      Nazwa lub ID: <%= text_field_tag :query, @query %>
      <%= check_box_tag "on_date", true, @on_date %>
      <%= label_tag "on_date", "rozp w" %>
      <%= select_date(
        @date,
        :start_year => 2011
      ) %>
      <%= check_box_tag "status[#{Auction::STATUSES[:active]}]", Auction::STATUSES[:active], @status.include?(Auction::STATUSES[:active]) %>
      <%= label_tag "status[#{Auction::STATUSES[:active]}]", "aktywne" %>,
      <%= check_box_tag "status[#{Auction::STATUSES[:canceled]}]", Auction::STATUSES[:canceled], @status.include?(Auction::STATUSES[:canceled]) %>
      <%= label_tag "status[#{Auction::STATUSES[:canceled]}]", "anulowane" %>,
      <%= check_box_tag "status[#{Auction::STATUSES[:finished]}]", Auction::STATUSES[:finished], @status.include?(Auction::STATUSES[:finished]) %>
      <%= label_tag "status[#{Auction::STATUSES[:finished]}]", "zakończone" %>
      sortuj <%= select_tag "order", options_for_select(Auction::ORDER_MODES, @order) %>
      <%= submit_tag "wyszukaj" %>
    </div>
  </div>
<% end %>