<%= render :partial => "search_form" %>

<% unless @auctions.empty? %>
  <table class="list">
    <thead>
      <tr>
        <td>nazwa</td>
        <td>właściciel</td>
        <td>typ</td>
        <td>rozpoczęta</td>
        <td>koniec</td>
        <td>status</td>
      </tr>
    </thead>
    <tbody>
      <% @auctions.each do |auction| %>
        <tr>
          <td><%= link_to auction.title, edit_admin_auction_path(auction) %></td>
          <td><%= link_to auction.owner, user_path(auction.owner) %></td>
          <td style="font-weight: bold"><% if auction.is_public? %>publiczna<% else %>prywatna<% end %></td>
          <td><%= escape_date(auction.created_at) %></td>
          <td>
            after <%= distance_of_time_in_words auction.expired_at.to_i, Time.now.to_i %>
          </td>
          <td>
            <%= escape_status(auction) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
<% else %>
  <div class="clear notice">Nie znaleziono żadnych aukcji.</div>
<% end %>