<% content_for :title, @message.topic %>

  <p>
    Do: <%= link_to @message.receiver, @message.receiver %>
  </p>
  <p>
    Od: <%= link_to @message.author, @message.author %>
  </p>
  <p>
    Wysłano: <%= escape_time(@message.created_at) %>
  </p>
  <p>Opcje: <br />
    <% if @message.receiver_id.eql?(@logged_user.id) %>
      <%= link_to 'Odpisz', reply_panel_message_path(@message) %>,
    <% end %>
    <%= link_to 'Usuń wiadomość', panel_message_path(@message), :method => :delete, :confirm => 'Czy na pewno?' %>
  </p>

<div class="standardField">
  <%=   @message.body %>
</div>


