<% content_for :title, "Nowa oferta dla " + @offer.auction.title %>
<h1 class="headField">Nowa oferta dla "<%=  @offer.auction.title %>"</h1>

<div class="standardField" style="width:400px;padding:30px;margin: 10px auto">
<% form_for [@offer.auction, @offer] do |f| %>

<%= f.error_messages %>
  <style type="text/css">
    input {
      width:30px
}
  </style>

<p>
  <%= f.label :price, 'Kwota' %>
  <%= f.text_field :price %> PLN
</p>
<p>
  <%= f.label :hours, 'Czas wykonania usługi' %>
  <%= f.text_field :hours %> godz.
</p>

<br />
<%= f.hidden_field :auction_id %>
<%= f.submit "Złóż ofertę" %>
<% end %>
</div>