<% content_for :title, "Strona główna" %>
<h1 class="headField">Witamy!</h1>
<div class="table" style="margin: 0 auto">

    <div class="main cell" style="width: 300px">
        <h2>Kategorie</h2>
        <ul style="font-size: 13px;">

            <% @menu_categories.each do |category| %>
            <% category.links.each do |l| %>
            <li style="margin-top: 10px;margin-left:<%= l.level*20 %>px">
                <%= link_to l.category.name, l.category %>
            </li>
            <% end %>
            <% end %>
        </ul>
    </div>
    <div class="main cell">
        
        <p>
            Jeśli szukasz specjaliste lub pracujesz w branży IT, to dobrze trafiles. 
            Pozwól iż wyjaśnimy Ci na czym polega fenomen tego portalu! Otóz, za pośrednictwem tego portalu bedziesz w stanie znalezc wykonawce bądź zleceniodawce, wyróżnic swoje aukcje, zbudowac portfolio, dołączyc do profesjonalnych zespołów. 
            To nie wszystko. 
            Jak tylko zostanie wybrana zwycieska oferta, zostanie udostepniony modul projektu umozliwiajacy prace przy pomocy roznych metod rozwojowych projektu (np. SCRUM).
            Tak wiec ten serwis to nie tylko raj dla zleceniodawcow ale i dla wykonawcow. 
            Bo wiemy iż efektywnosc to podstawa.
        </p>
        
        <h2>Szanuj się!</h2>
        <p>
            U nas wszystkie składane oferty są niewidoczne dla konkurencji. 
            Teraz możesz skupic sie wyłącznie na wycenie usługi a nie na rentowności. 
            Dla zleceniodawcy to również zaleta, bowiem oferenci już na samym początku określają realne stawki za usługę. 
            Na co komu początkowe niskie-zaniżane stawki, które w późniejszym czasie ulegają podwyżce kilkukrotnie! 
            U nas panuje równowaga jak w przyrodzie ;)
        </p>
        
        <h2>Perspektywy</h2>
        <p>
            Nic dziwnego iż nasze jasne-przejrzyste zasady przyciągają tak wielkie osobowości branży IT.
            Pamietaj; przystępując do naszego portalu nawiązujesz kontakt ze specjalistami w swoim fachu.
            Cieszymy sie iż nasza Społeczność rośnie w siłę z tak ogromnym rozmachem.
            Ty też, skończ czytac, zacznij podziwiac ;)
        </p>
        
        
        
        
    </div>
    <div class="main cell" style="width: 300px;text-align: center;vertical-align: middle">
        <p>
            Trwających aukcji:
        </p>
        <p style="font-weight:bold;font-size: 25px">
            <%= 160234+Auction.count %>
        </p>
        <p>
            Ofert dzisiaj:
        </p> <%#todo%>
        <p style="font-weight:bold;font-size: 25px">
            <%= 5234+Offer.count  %>
        </p>
        <p>
            Zarejestrowanych użytkowników:
        </p>
        <p style="font-weight:bold;font-size: 25px">
            <%= 1290034+User.count %>
        </p>
        <p>
            Użytkowników online:
        </p> <%#todo%>
        <p style="font-weight:bold;font-size: 25px">
            <%= (User.count*1000).ceil %>
        </p>
        <p style="font-size: 80%">Dane aktualizowane raz na godzine</p>
    </div>
</div>
