<div class="center">
	Suma punktów użytkownika <%= @user.login %>: <span class ='bold'><%= @suma %></span>
</div>
<br />

<div class="center">
	Dodaj/odejmij punkty<br />
		<% form_tag({:action => "editpoints"}) do %>
		  <div class="field">
		    <%= text_field "addorremove", :points %>
		  </div>
		  <div class="actions">
		    <%= submit_tag "Submit" %>
		  </div>
		<% end %>
</div>

<% unless @points.empty? %>
  <table class="list">
    <thead>
      <tr>
        <td>ID</td>
        <td>Za co otrzymane</td>
        <td>Kiedy otrzymane</td>
        <td>Punkty</td>
      </tr>
    </thead>
    <tbody>
      <% @points.each do |points| %>
        <tr>
          <td><%= points.id %></td>
          <td>
          	<% if points.for_what == 0 %>
    			<span>Punkty zakupione</span>
   			<% elsif points.for_what == 1 %>
    			<span>Punkty za blogposta</span>
    		<% elsif points.for_what == 2 %>
    			<span>Punkty za poleconego</span>
    		<% else %>
    			<span>Interwencja administratora</span>
    		<% end %>      	
          </td>
          <td><%= escape_time(points.created_at) %></td>
          <td><%= points.points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @points %>
<% else %>
  <div class="clear notice">Nie znaleziono żadnych punktów.</div>
<% end %>