<% content_for :title, @title %>
<% if @projects.empty? %>
  <div class="notice">Obecnie nie uczestniczysz w żadnych projektach</div>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <td>Nazwa</td>
        <td>Rola</td>
        <td>Termin</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |proj| %>
        <tr>
          <td><%= proj.name %></td>
          <td>todo ;]</td>
          <td>
            <%= escape_date(proj.deadline) %>
            (<%= I18n.t :day, :count => 2 %>)
          </td>
          <td><%= proj.string_status %></td>
        </tr>>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
<% end %>
