<% if @projects.empty? %> 
  <%= raw flash_t("notice") %>
<% else %>
	<div class="span-20 prepend-1">	
	  <table class="list">
	    <thead>
	      <tr>
	        <th>Nazwa</th>
	        <th>Rola</th>
	        <th>Termin</th>
	        <th>Status</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @projects.each do |proj| %>
	        <tr>
	          <td><%= link_to proj.name, project_info_path(proj) %></td>
	          <td><%= escape_column(proj.user_role(current_user), "name").capitalize %></td>
	          <td>
	            <%= escape_date(proj.deadline) %>
	            (Pozostało <%= time_ago_in_words(proj.deadline) %>)
	          </td>
	          <td><%= escape_status(proj) %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	  <%= will_paginate %>
	</div>
<% end %>
