<% if @projects.empty? %> 
  <%= raw flash_t("notice") %>
<% else %>
	<div class="span-20 prepend-1">	
	  <table class="list">
	    <thead>
	      <tr>
	        <th><%= attribute_t 'project.name' %></th>
	        <th><%= model_t 'role' %></th>
	        <th><%= t('project.deadline' )%></th>
	        <th><%= attribute_t 'project.status' %></th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @projects.each do |proj| %>
	        <tr>
	          <td><%= link_to proj.name, project_info_path(proj) %></td>
	          <td><%= escape_column(proj.user_role(current_user.id),"name") %></td>
	          <td>
	          	<% if proj.active? %>
	          	  <% if proj.deadline.past? -%>
	          	    <font color="red">
	          	      <%= escape_date(proj.deadline) %>
	            	    (<%= t('general.project.exceeded') %> <%= time_ago_in_words(proj.deadline) %>)
	          	    </font>
	          	  <% else -%>
	          	    <%= escape_date(proj.deadline) %>
	            	  (<%= t('general.left') %> <%= time_ago_in_words(proj.deadline) %>)
	          	  <% end -%>
	          	<% else %>
	          		<%= t('general.project.ended') %> (<%= escape_date(proj.updated_at) %>)
	          	<% end %>            
	          </td>
	          <td><%= escape_status(proj) %></td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	  <%= will_paginate %>
	</div>
<% end %>
