<% content_for :title, 'Projekty' %>
<% if @projects.empty? %>
  <div class="notice">Obecnie nie uczestniczysz w żadnych projektach</div>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <td>Nazwa</td>
        <td>Rola</td>
        <td>Termin</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |proj| %>
        <tr>
          <td><%= link_to proj.name, project_info_path(proj) %></td>
          <td>todo ;]</td>
          <td>
            <%= escape_date(proj.deadline) %>
            (Pozostało <%= time_ago_in_words(proj.deadline) %>)
          </td>
          <td><%= escape_status(proj).capitalize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
<% end %>
