<%= render 'project/shared/menu' %>

<div class="span-21 prepend-1">
  <div class="span-8">
    <table>
      <tr>
        <td><%= attribute_t 'ticket.title' %></td>
        <td><%= @ticket.title %></td>
      </tr>
      <tr>
        <td><%= attribute_t 'ticket.duration' %></td>
        <td><%= @ticket.duration %></td>
      </tr>
      <tr>
        <td><%= t('general.actions') %></td>
        <td>
          <% if can_edit? 'ticket' -%>
              <% if @ticket.status == Ticket::STATUSES[:free] -%>
                <%= link_to t('general.edit'),
                            edit_project_ticket_path(@project, @ticket) %> | 
                <%= link_to t('general.delete'),
                            project_ticket_path(@project, @ticket),
                            :method => :delete,
                            :confirm => t('general.confirm') %>
              <% elsif @ticket.status == Ticket::STATUSES[:implementation] -%>
                <%= link_to t('general.project.ticket.give'),
                            give_project_ticket_path(@project, @ticket),
                            :confirm => t('general.confirm') %> |
                <%= link_to t('general.project.ticket.end'),
                            end_project_ticket_path(@project, @ticket),
                            :confirm => t('general.confirm') %>
              <% else -%>
                 <%= t('general.none') %>
              <% end -%>
            <% else -%>
              <% if @ticket.status == Ticket::STATUSES[:free] && @project.owner_id != current_user.id -%>
                <%= link_to t('general.project.ticket.take'),
                            take_project_ticket_path(@project, @ticket) %>
              <% elsif @ticket.status == Ticket::STATUSES[:implementation] &&
                       @ticket.user_id == current_user.id -%>
                <%= link_to t('general.project.ticket.give'),
                            give_project_ticket_path(@project, @ticket) %>
              <% else -%>
                <%= t('general.none') %>
              <% end -%>
            <% end -%>
        </td>
      </tr>
    </table>
  </div>
  <div class="span-11 prepend-1">
    <p><%= attribute_t 'ticket.description' %></p>
    <p><%= raw @ticket.description %></p>
  </div>
</div>
