<% content_for :head do |head|%>
 <script type="text/javascript">
    
    
    tags = [<%= raw tags.collect{|e| '['+e.id.to_s+', "'+e.name+'"]'}.join(',') %>];
      
    function searchForTags(text){
      text = text.toLowerCase();

      for(var i=0; i < tags.length; i++){
        var tag = tags[i][1];
        index = text.indexOf(tag, 0);
        
        if(index > -1){
          
         var button_tags = $('[name="show_tags"]'); 
         if(!button_tags.is(':checked')){
           button_tags.click();
         }         
          
          if(!$('#button_tag_'+tags[i][0]).hasClass('selectedTagButton')){
          $('#button_tag_'+tags[i][0]).click();
          }
          //text = text.replace(tag, '');
        }
      }
      
      $('[name=query]').val(text);
    }
    
  </script>
  
<% end %>

<% selected_tags ||= Array.new %>
<% search_in_description ||= false %>
<% query ||= query %>
<% show_tags ||= false %>
<% form_tag result_auctions_path do |f| %>
<div class="standardField" style="padding-left: 10px">
  <div>
  Wyrażenie: <%= text_field_tag :query, query, :onkeyup => 'searchForTags(this.value)' %> 
  <%= check_box_tag :search_in_description, true, search_in_description %> <%= label_tag :search_in_description, 'Szukaj również w opisie'%>
  &nbsp;&nbsp;&nbsp;<%= submit_tag 'Szukaj' %>
   <%= check_box_tag :show_tags, true, show_tags, :onclick => '$("#advanced").toggle()' %> <%= label_tag :show_tags, 'wyświetl opcje zaawansowane' %>
  </div>
  
</div>
<div id="advanced" ' style="display: none"'>
  <div class="standardField">
    Wybierz budżet projektu: 
     <%= raw Budget.all.collect{|b| '<label>' + check_box_tag('budgets_ids[]', b.id, @budgets_ids.include?(b.id.to_s)) + b.to_s + '</label>'}.join(' ') %>
    </div>
  <%= render :partial => 'layouts/clickable_tags', :locals => {:tags => @tags, :show_tags => show_tags, :selected_tags => selected_tags} %>
</div>
<% end %>
