<table class="list">
  <thead>
    <tr>
      <th><%= attribute_t 'user.login' %></th>
      <th><%= t('general.contact') %></th>
      <th><%= model_t 'role' %></th>
      <th><%= t('general.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |user| %>
      <tr>
        <td><%= link_to user.login, user_path(user), :target => '_blank' %></td>
        <td>
        	<%= link_to t('general.pm'),
        	            :controller => 'panel/messages',
        	            :action => :new,
        	            :receiver_login => user.login %> 
        	 | <%= mail_to user.email %>
        </td>
      	<td>
      		<%= escape_column(@project.user_role(user.id), "name").capitalize %>        	
      	</td>
      	<td>
      	  <% memb = @project.find_membership(user.id) -%>
      	  <% if memb.user_id == current_user.id -%>
      	    <%= link_to t('general.project.members.leave'), project_member_path(@project, memb),
		      		                                              :method =>:delete,
		      		                                              :confirm => t('general.confirm') %>
      	  <% else -%>
      	    <%= t('general.none') %>
      	  <% end -%>
      	</td>
    	</tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
