<%= render 'project/shared/menu' %>

<div class="span-10 prepend-1">
  <table class="list">
    <thead>
      <tr>
        <th>Login</th>
        <th>Kontakt</th>
        <th>Rola</th>
        <%= raw "<th>Akcje</th>" if can_edit?('user') %>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |user| %>
        <tr>
          <td><%= link_to user.login, user_path, :id => user.id %></td>
          <td>
          	<%= link_to 'PW', :controller => 'panel/messages', :action => :new, :receiver_login => user.login %> | 
          	<%= mail_to user.email %>
          </td>
          <td><%= escape_column(@project.user_role(user), "name").capitalize %></td>
          <% if can_edit?('user') %>
          	<td>
          		todo ;]
          	</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
